# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
du_Pay_Website_QR_code_8d9b950290 copy.svg
Instant_Money_Transfer_db5f3a9b7c.png
Instant_Money_Transfer_db5f3a9b7c.png
du_Pay_Website_QR_code_8d9b950290 copy.svg
